* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
	text-decoration: none;
	color: var(--primary-color);
}
/*header*/
h1 {
	font-family: 'Gruppo';
	font-size: 60px;
	margin-bottom: 15px;
}
.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}
.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}
.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}
.content {
	z-index: 2;
}
.content h1{
	font-family: 'Gruppo', cursive;
	font-size: 80px;
}
.content h3{
	font-family: 'Share Tech Mono', monospace;
	font-size: 30px;
}
/*header*/

/*navbar*/
.navbar-default .navbar-nav > .active > a {
    background-color: #eee8a9;
}
.navbar-default .navbar-nav > li:hover> a, .navbar-default .navbar-nav > .active:hover > a {
    background-color: #eee8a9;
}
.navbar-default .social-list > li:hover> a {
    color: #000;
    background: #eee8a9;
}
nav.navbar {
    background: #fff;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
}
.icon-bar:hover {
	background-color: #eee8a9;
}
.scroll-down {
    margin-top: 3%;
}

/*social list*/
.social a {
	margin: 0 5px;
}
.social-list {
    margin: 7px 25px;
}
.social-list li {
    margin: 0 6px;
}
.social-list li a {
    border: 1px solid black;
    transform: rotate(45deg);
    padding: 2px 4px;
    display: block;
    width: 33px;
    height: 33px;
}
.social-list li:hover i{
    color: #000;
}
.social-list li i {
    transform: rotate(-45deg);
    vertical-align: baseline;
}
.imagenprono {
		transform: rotate(-40deg);
		vertical-align: baseline;
}
.imagenprono:hover {
	transform: rotate(-40deg);
	vertical-align: baseline;
}
/*social list end*/


/*products*/
.text-color {
  color: black;
  transition-duration: 0.5s;
	font-family: 'Share Tech Mono', monospace;
	font-size: 15px;
	font-weight: 80;
	line-height: 2;
	margin: 1% 0 2%;
}
.wrapper {
	padding: 100px 20px;
  min-width: 600px;
  max-width: 1100px;
  margin: 0 auto;
}
.wrapper h2 {
	margin: 5%;
  font-family: 'Gruppo', cursive;
	font-size: 40px;
}
.tabs {
  display: table;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
	font-family: 'Share Tech Mono', monospace;
	font-size: 1.3rem;
	letter-spacing: 0.3rem;
	font-weight: 80;
	line-height: 2;
}
.tabs > li {
  transition-duration: 0.25s;
  display: table-cell;
  list-style: none;
  text-align: center;
  padding: 20px 20px 25px 20px;
  position: relative;
  /*overflow: hidden;*/
  cursor: pointer;
  color: black;
}
.tabs > li:before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 120%;
  top: 0;
  left: 0;
  background-color: rgba(192, 192, 192, 0.3);
	transform: translateY(100%);
  transition-duration: 0.25s;
  border-radius: 5px 5px 0 0;
}
.tabs > li:hover:before {
  -webkit-transform: translateY(70%);
  transform: translateY(70%);
}
.tabs > li.active {
  color: #50555a;
}
.tabs > li.active:before {
  transition-duration: 0.5s;
	background-color: #eee8a9;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.tab__content {
  background-color: #eee8a9;
  position: relative;
  width: 100%;
  border-radius: 5px;
}
.tab__content > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  list-style: none;
}
.tab__content > li .content__wrapper {
  text-align: center;
  border-radius: 5px;
  width: 100%;
  padding: 45px 40px 40px 40px;
  background-color: #eee8a9;
}
.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300;
}
      /* pagina web */
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.65), 0 10px 10px rgba(0,0,0,0.62);
}
     /*-------- Base de datos --------*/
.features {
display: flex;
flex-flow: row wrap;
justify-content: space-around;
align-items: center;
text-align: center;
height: auto;
z-index: 1;
}
.feature-card {
flex-basis: 200px;
margin: 1vw;
padding: 40px 10px;
background-color: white;
border-radius: 5px 25px;
height: auto;
transition: border-radius 0.6s ease;
}
.feature-card:hover {
border-radius: 25px 5px;
}
.feature-card > strong {
line-height: 50px;
}
.icons {
margin-bottom: 10px;
}
.feature-card:first-child .icons,
.feature-card:last-child .icons {
margin-bottom: 1px;
}

/*products*/


/*about*/
.about {
    background: #f2fedc;
}
.about-content {
    margin-top: 7%;
    font-family: 'Gruppo', cursive;
}
.about-content h2 {
    margin: 5%;
		font-size: 40px;
}
.about-text {
		font-family: 'Share Tech Mono', monospace;
    font-size: 15px;
		font-weight: 80;
    line-height: 2;
    margin: 5% 0 7%;
}
.imagen-about {
	height: 80px;
}
/*about end*/


/*social list footer*/
.social-list-footer {
    margin: 7px 25px;
}
.social-list-footer li {
    margin: 0 6px;
}
.social-list-footer li a {
    border: 1px solid black;
    transform: rotate(45deg);
    padding: 2px 4px;
    display: block;
    width: 33px;
    height: 33px;
}
.social-list-footer > li:hover > a {
    background: #eee8a9;
}
.social-list-footer li i {
    transform: rotate(-45deg);
    /* vertical-align: baseline; */
}
.social-footer {
    background: #eee;
}
.social-footer h2 {
		font-family: 'Gruppo', cursive;
		margin: 5%;
		font-size: 40px
}
.social-footer .social-list-footer {
    display: inline-block;
    padding: 0;
    margin-bottom: 5%;
}
.social-footer .social-list-footer li a{
    display: block;
    position: relative;
    border: 2px solid #444;
    transform: rotate(45deg);
    width: 60px;
    height: 60px;
}
.social-footer .social-list-footer li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
}
.social-footer .social-list-footer li a i {
    margin-top: 5px;
    color: #444
}
.social-footer .social-list-footer li:hover i {
    color: #000;
}
.social-footer .social-list-footer {
    padding: 2px 0 0 0;
}
.imagenprono-footer {
		transform: rotate(-40deg);
		vertical-align: baseline;
		padding: 0px 10px 0px 0px
}
.imagenprono-footer:hover {
	transform: rotate(-40deg);
	vertical-align: baseline;
}
/*social list footer end*/


/*footer*/
footer {
    background: #eee;
    background-size: cover;
    color: #000;
}
footer h2 {
    margin-top: 7%;
}
.contact {
    margin: 5% 0;
		padding-left: 7px;
}
.contacts-data {
		margin: 3% 7%;
		padding: 15px;
    background: #eee8a9;
    color: #000;
}
.contacts-data a:hover {
    color: #000;
		text-decoration: none;
		/* filter: sepia(60%); */
}
.contacts-data:hover {
    color: #000;
		text-decoration: none;
		filter: grayscale(80%);
}
.contact-text {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.8rem;
    /* text-transform: uppercase; */
    letter-spacing: 0.3rem;
    padding-left: 7%;
}
.contact-text:hover {
    color: #000;
}
.contact-text-pronosticosheladas {
		font-family: 'Share Tech Mono', monospace;
    font-size: 1.8rem;
    /* text-transform: uppercase; */
    letter-spacing: 0.3rem;
    padding-left: 5%;
}
/*footer end*/

/* media queries */
@media screen and (max-width: 990px) {
	.scroll-down {
		display: none;
	}
	.contacts-data {
		text-align: center;
		margin: 3% 1%;
	}
	span.email-responsive {
		font-size: 85% !important;
		text-align: center;
		padding-left: 1%;
	}
	.wrapper {
		/*padding: 100px 20px;*/
	  min-width: 300px;
	  max-width: 600px;
	}
	.tabs {
		display: table;
	  table-layout: fixed;
	  width: 100%;
	  -webkit-transform: translateY(15px);
	  transform: translateY(15px);
		font-family: 'Share Tech Mono', monospace;
		font-size: 0.95rem;
		letter-spacing: 0.1rem;
		font-weight: 80;
		line-height: 2;
	}
	.tabs > li:before {
	 	transform: translateY(65%);
	}
	.tabs > li:hover:before {
	  -webkit-transform: translateY(100%);
	  transform: translateY(100%);
	}
}

@media screen and (max-width: 767px) {
	header .social-list {
        display: none;
    }
}

@media screen and (max-width: 491px) {

}

/* @media (max-width: 990px) {
    .contacts-data {
        text-align: center;
				font-size: 1.1rem;
				letter-spacing: 0.1rem;
		    padding-left: 0%;
    }
		.scroll-down {
				display: none;
		}
}
@media (max-width: 767px) {
    header .social-list {
        display: none;
    }
    .skills img {
        width: 65%;
    }
		footer .contact-text .contact-text-pronosticosheladas{
				font-size: 1.1rem;
				letter-spacing: 0.1rem;
		    padding-left: 0%;
		}
} */
